{% extends "base.html" %}
{% block title %}
  
{% endblock title %}
{% block style %}
  <style>
    footer{
      display: none;
    }
    
  
  </style>
{% endblock style %}
{% block body %}
<section class="login-page">
  <div class="container" style="margin-top:100px;">

    <!--Start login Form-->
        
        <div class="login-form-div" style="box-shadow: 0px 0px 10px 0px white;">        
          <h4 class="mb40 text-center">Change Password</h4>
          <div class="form-block">
            <form id="contact-form" >
              <div class="fieldsets row">
                <div class="col-md-12 form-group">
                  <input id="password" type="password"  placeholder="Create password" required="required">
                </div>
                <div class="col-md-12 form-group"><input  type="password" id="password2"   placeholder="Password again" required="required">
                </div>
              </div>
              <div class="fieldsets row mt20">
                <div class="col-md-6 form-group v-center">
                  <button role="submit" class="lnk btn-main bg-btn">Submit <span class="circle"></span></button>
                </div>
              </div>            
            </form>
        </div>      
        </div>      
      </section>
    </div>
  
    <!--End login Form-->

    {% endblock body %}
{% block script %}
  <script>
    if (authenticated){

      let change_password_form = document.getElementById("contact-form");
      let password = document.getElementById("password");
      let password2 = document.getElementById("password2");
      refresh_token=localStorage.getItem("kartik_webiste_refresh_token")
  // Extract the token
  change_password_form.addEventListener("submit", async (e) => {
      e.preventDefault(); // Prevent default form submission behavior
      main_message.style.display = "none";
      
      // Prepare the data
      const data = {
        password: password.value,
        password2: password2.value,
      };
      // Make the API call
      await fetch(`${window.location.origin}/api/change-password/`, {
        method: "POST",
        headers: {
            "content-type": "application/json",
            "Authorization": `Bearer ${authenticated}`,
        "X-CSRFToken": csrfToken

        },
        body: JSON.stringify(data)
      })
        .then((response) => response.json())
        .then((response) => {
          console.log("response", response);
          if (response.success === true) {
            message_image.src = "/static/images/checked.png";
            message_topic.style.color = "green";
            message_topic.innerHTML = "Success";
            
            message.innerHTML = response.message;
            main_message.style.display = "flex";
            
          } else {
            let errorMessage = 
                               response.message || "An error occurred";
            message_image.src = "/static/images/remove.png";
            message_topic.innerHTML = "Error";
            message_topic.style.color = "red";
            message.innerHTML = errorMessage;
            main_message.style.display = "flex";
          }
        });
      });
    }
    else{
            message_image.src = "/static/images/info.png";
            message_topic.innerHTML = "Info";
            message_topic.style.color="#0094ff";
            message.innerHTML = "Oops ! You are not logged in";
            main_message.style.display = "flex";
      setTimeout(()=>{
        window.location.href="/"
      },3000)
    }
  </script>
{% endblock script %}
  