
	  <!--End Header -->

      {% extends "base.html" %}
      {% block title %}
      
      {% endblock title %}
      {% block style %}
      <style>
      </style>
      {% endblock style %}
      {% block body %}

		<!--Breadcrumb Area-->
		<section class="breadcrumb-area banner-6">
			<div class="text-block">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 v-center">
							<div class="bread-inner">
								<div class="bread-menu wow fadeInUp" data-wow-delay=".2s">
									<ul>
										<li><a href="/">Home</a></li>
										<li><a href="/contact-us/">Contact</a></li>
									</ul>
								</div>
								<div class="bread-title wow fadeInUp" data-wow-delay=".5s">
									<h2>Contact</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--End Breadcrumb Area-->

		<!--Start Enquire Form-->
		<section class="contact-page pad-tb">
			<div class="container">
				<div class="row justify-content-center">


					<div class="col-lg-5 contact2dv">

						<div class="info-wrapr">
							<h3 class="mb-4">Contact us</h3>
							<div class="dbox d-flex align-items-start">
								<div class="icon d-flex align-items-center justify-content-center">
									<i class="fas fa-map-marker"></i>
								</div>
								<div class="text pl-4">
									<p><span>Address:</span>106 Narayandham Society Virat Nagar Ahmedabad</p>
								</div>
							</div>
							<div class="dbox d-flex align-items-start">
								<div class="icon d-flex align-items-center justify-content-center">
									<i class="fas fa-phone-alt"></i>
								</div>
								<div class="text pl-4">
									<p><span>Phone:</span> <a href="tel://9106566253">+91 9106566253</a></p>
								</div>
							</div>
							<div class="dbox d-flex align-items-start">
								<div class="icon d-flex align-items-center justify-content-center">
									<i class="fas fa-envelope"></i>
								</div>
								<div class="text pl-4">
									<p><span>Email:</span> <a href="mailto:contact@kartikprajapati.com">contact@kartikprajapati.com</a></p>
								</div>
							</div>
							<div class="dbox d-flex align-items-start">
								<div class="icon d-flex align-items-center justify-content-center">
									<i class="fa fa-globe"></i>
								</div>
								<div class="text pl-4">
									<p><span>Website</span> <a href="https://www.kartikprajapati.com/">www.kartikprajapati.com</a></p>
								</div>
							</div>
						</div>

					</div>


					<div class="col-lg-7 m-mt30 pr30 pl30">
						<div class="common-heading text-l">							
							<h2 class="mt0 mb0">Get in touch</h2>
							<p class="mb60 mt10">We will catch you as early as we receive the message</p>
						</div>
						<div class="form-block">
							<form id="contact-form">
								<div class="row">
									<div class="form-group col-sm-6">
										<input type="text"  id="contact_name" placeholder="Enter name"  data-error="Please fill Out">
										<div class="help-block with-errors"></div>
									</div>
									<div class="form-group col-sm-6">
										<input type="email"  id="contact_email" placeholder="Enter email" >
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-6">
										<input type="text" id="contact_phone" placeholder="Enter mobile" data-error="Please fill Out">
										<div class="help-block with-errors"></div>
									</div>
									<div class="form-group col-sm-6">
										<select name="Dtype" id="contact_select_website" >
											<option value="">Select Requirement</option>
											<option value="Portfolio">Portfolio</option>
											<option value="E-Commerce">E-Commerce</option>
											<option value="Corporate">Corporate</option>
											<option value="Educational">Educational</option>
											<option value="Blog">Blog</option>
											<option value="News">News</option>
											<option value="Non-Profit">Non-Profit</option>
											<option value="Landing Page">Landing Page</option>
											<option value="Other">Other</option>

										</select>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="form-group">
									<textarea id="contact_message" rows="5" placeholder="Enter your message" ></textarea>
									<div class="help-block with-errors"></div>
								</div>
								
								<button  role="submit" id="form_submit" class="btn lnk btn-main bg-btn">Submit <span class="circle"></span></button>
								<div id="msgSubmit" class="h3 text-center hidden"></div>
								<div class="clearfix"></div>
								<p class="trm"><i class="fas fa-lock"></i>We hate spam, and we respect your privacy.</p>
							</form>
						</div>
					</div>



				</div>
			</div>
		</section>
		<!--End Enquire Form-->


		<!--Start Location-->
		<div class="contact-location">
			<div class="container-fluid">
				
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="map-div">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7343.786682771089!2d72.64570064075319!3d23.027688086959454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e86f5e58bb245%3A0x32c6e35678aa70ac!2sSoni%20ni%20chali%2C%20Virat%20Nagar%2C%20Odhav%2C%20Ahmedabad%2C%20Gujarat%20380038!5e0!3m2!1sen!2sin!4v1733724270027!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>


			</div>
		</div>
		<!--End Location-->
		<!--Start Footer-->
      {% endblock body %}
    {% block script %}
    <script>
        

        function getCSRFToken() {
            let csrfToken = null;
            const cookies = document.cookie.split(';');
            cookies.forEach(cookie => {
                const [name, value] = cookie.trim().split('=');
                if (name === 'csrftoken') {
                    csrfToken = value;
                }
            });
            return csrfToken;
        }

        
        function post_contact_message() {
            main_message.style.display = "none";
            const name_contact = document.getElementById("contact_name");
            const contact_email = document.getElementById("contact_email");
            const contact_phone = document.getElementById("contact_phone");
            const contact_select_website = document.getElementById("contact_select_website");
            const contact_message = document.getElementById("contact_message");
            console.log(contact_email.value)
            const data = {
                "name": name_contact.value,
                "email": contact_email.value,
                "phone": contact_phone.value,
                "select_website": contact_select_website.value,
                "message": contact_message.value,
            };
            console.log(data)
            fetch(`${window.location.origin}/api/contact-us/`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    "X-CSRFToken": getCSRFToken()
                },
                body: JSON.stringify(data)
            }).then((response) => response.json())
              .then((response) => {
                  if (response.success) {
                      message_image.src = "/static/images/checked.png";
                      message_topic.style.color = "green";
                      message_topic.innerHTML = "Success";
                      message.innerHTML = "Thanks! Your message was submitted. I will respond as soon as possible.";
                      main_message.style.display = "flex";
                         name_contact.value=""
                        contact_email.value=""
                        contact_phone.value=""
                        contact_select_website.value=""
                        contact_message.value=""


                      
                  } else {
                      let errorMessage = response.message.name?.[0] ||
                          response.message.email?.[0] ||
                          response.message.phone?.[0] ||
                          response.message.select_website?.[0] ||
                          response.message.message?.[0] ||
                          response.message.non_field_errors?.[0] ||
                          response.message || "An error occurred";
                      message_image.src = "/static/images/remove.png";
                      message_topic.innerHTML = "Error";
                      message_topic.style.color = "red";
                      message.innerHTML = errorMessage;
                      main_message.style.display = "flex";
                  }
              });
        }
    
        // Attach event listener to the form's submit event
        const contactForm = document.getElementById("contact-form");
        contactForm.addEventListener("submit", (e) => {
            e.preventDefault(); // Prevent the default form submission behavior
            post_contact_message();
        });
    </script>
    
    {% endblock script %}
    