{% extends "base.html" %}
{% block title %}

{% endblock title %}
{% block style %}
<style>
</style>
{% endblock style %}
{% block body %}

    <!--Breadcrumb Area-->
    <section class="breadcrumb-area banner-3" style="background: black;">
      <div class="text-block">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 v-center">
              <div class="bread-inner">
                <div class="bread-title">
                  <h2>Pricing Plan</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Breadcrumb Area-->

	
    <!--Start pricing-->
    <section class="pricing-block pad-tb">
		<div class="container">
		  <div class="row justify-content-center">
			<div class="col-lg-8">
			  <div class="common-heading ptag">
				<span>Our Pricing</span>
				<h2>Web Development Pricing</h2>
				<p class="mb30">Choose from one of our three packages, all priced competitively for web development services. We offer affordable yet comprehensive options for businesses of all sizes. Whether you're just starting or need advanced features, we have a solution for you.</p>
			  </div>
			</div>
		  </div>
		  <div class="row justify-content-center">
  
			<div class="col-lg-4 col-md-6 nxpb-1"> 
			  <div class="niwaxpricingbox shadow">
				<div class="pricingheader" data-background="/static/images/icons/plan-1.svg">
				  <h2>Basic</h2>
				  <p>Perfect for Small Business Websites</p>
				</div>
				<div class="pricingrate">
				  <div class="pricevalue">
					<h2><sup>$</sup> 150.00</h2>
				  </div>
				  <div class="priceoffer">
					<h2>10% <span>$165.00</span></h2>
				  </div>
				</div>
				<div class="pricingoffers">
				  <ul class="list-ul ul-check">
					<li>Customized Web Design</li>
					<li>Responsive Layout</li>
					<li>Content Management System (CMS)</li>
					<li>Up to 5 Pages</li>
					<li>Basic SEO Integration</li>
					<li>Social Media Integration</li>
					<li>Contact Form</li>
					<li>Basic E-commerce Setup</li>
				  </ul>
				</div>
				<div class="priceodernow">
					<div class="priceoderbtn"><a href="/contact-us/" class="niwax-btn3">Order Now</a></div>
					<div class="priceaskwithus">
					  <a href="https://wa.me/9106566253?text=Hello%20I%20need%20help%20with%20your%20services" target="_blank" class="livechatbtn d-flex gap10 v-center">
						<i class="fas fa-comment"></i>
						<div><span>Click here to</span> Chat Whatsapp</div>
					  </a>
					</div>
				  </div>
				  <div class="pricingfooter mt30">
					<div class="pfdiv1"><a href="#">Call Us: +91 9106566253</a></div>
				  </div>
			  </div>
			</div>
  
			<div class="col-lg-4 col-md-6 nxpb-2">
			  <div class="niwaxpricingbox shadow reco">
				<div class="pricingheader" data-background="/static/images/icons/plan-2.svg">
				  <h2>Professional</h2>
				  <p>Ideal for Growing Businesses</p>
				</div>
				<div class="pricingrate">
				  <div class="pricevalue">
					<h2><sup>$</sup> 400.00</h2>
				  </div>
				  <div class="priceoffer">
					<h2>10% <span>$440.00</span></h2>
				  </div>
				</div>
				<div class="pricingoffers">
				  <ul class="list-ul ul-check">
					<li>Customized Web Design</li>
					<li>Advanced E-commerce Setup</li>
					<li>Up to 10 Pages</li>
					<li>Content Management System (CMS)</li>
					<li>SEO Optimization</li>
					<li>Responsive Layout</li>
					<li>Social Media Integration</li>
					<li>Live Chat Integration</li>
					<li>Blog Integration</li>
					<li>Custom Forms</li>
					<li>Payment Gateway Setup</li>
				  </ul>
				</div>
				<div class="priceodernow">
					<div class="priceoderbtn"><a href="/contact-us/" class="niwax-btn3">Order Now</a></div>
					<div class="priceaskwithus">
					  <a href="https://wa.me/9106566253?text=Hello%20I%20need%20help%20with%20your%20services" target="_blank" class="livechatbtn d-flex gap10 v-center">
						<i class="fas fa-comment"></i>
						<div><span>Click here to</span> Chat Whatsapp</div>
					  </a>
					</div>
				  </div>
				  <div class="pricingfooter mt30">
					<div class="pfdiv1"><a href="#">Call Us: +91 9106566253</a></div>
				  </div>
			  </div>
			</div>
			
			<div class="col-lg-4 col-md-6 nxpb-3">
			  <div class="niwaxpricingbox shadow">
				<div class="pricingheader" data-background="/static/images/icons/plan-3.svg">
				  <h2>Premium</h2>
				  <p>For Large Businesses with Complex Needs</p>
				</div>
				<div class="pricingrate">
				  <div class="pricevalue">
					<h2><sup>$</sup> 800.00</h2>
				  </div>
				  <div class="priceoffer">
					<h2>20% <span>$960.00</span></h2>
				  </div>
				</div>
				<div class="pricingoffers">
				  <ul class="list-ul ul-check">
					<li>Customized Web Design</li>
					<li>Advanced E-commerce Functionality</li>
					<li>Up to 20 Pages</li>
					<li>Content Management System (CMS)</li>
					<li>SEO Optimization & Analytics</li>
					<li>Social Media Integration</li>
					<li>Custom Forms & Surveys</li>
					<li>Payment Gateway Setup</li>
					<li>Live Chat and Ticketing System</li>
					<li>Blog and Newsletter Integration</li>
					<li>Custom API Integration</li>
					<li>Dedicated Project Manager</li>
					<li>24/7 Support</li>
				  </ul>
				</div>
				<div class="priceodernow">
				  <div class="priceoderbtn"><a href="/contact-us/" class="niwax-btn3">Order Now</a></div>
				  <div class="priceaskwithus">
					<a href="https://wa.me/9106566253?text=Hello%20I%20need%20help%20with%20your%20services" target="_blank" class="livechatbtn d-flex gap10 v-center">
					  <i class="fas fa-comment"></i>
					  <div><span>Click here to</span> Chat Whatsapp</div>
					</a>
				  </div>
				</div>
				<div class="pricingfooter mt30">
				  <div class="pfdiv1"><a href="#">Call Us: +91 9106566253</a></div>
				</div>
			  </div>
			</div>
			
		  </div>
		</div>
</section>

	  <!--End pricing-->

    <!--Start Pricing-->
      
    <!--End Pricing-->
    <!--Start Footer-->
{% endblock body %}
   {% block script %}
     <script>

     </script>
   {% endblock script %}